:root {
  --main-cl: #757575; 
  --secondary-cl: #212121;
  --active-cl: #2196F3;
  --page-width: 1600px;
  --section-width: 1170px;
  --primary-white-color: #ffffff;
  --main-dark-bg-color: #2F303A;
  --light-gray-color: #F5F4FA;
}
body { 
    background-color: var(--primary-white-color);
    color: var(--main-cl);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
}  

header {   
    margin: 0 auto;
    max-width: var(--page-width);
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
}
.header-inner {
    height: 80px;
    max-width: var(--section-width);
    margin: 0 auto;
}
.main-nav a.logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: inherit;
    color: var(--active-cl);
    text-decoration: none;
}
.main-nav a.logo span {
    color: var(--secondary-cl);
}
.main-nav .menu {
    margin: 0;
    padding: 0;
    list-style: none;
} 

ul.menu li {
    margin-right: 50px;
}

ul.menu li a {
    color: var(--secondary-cl);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-weight: 500;
}
ul.menu li a.active,
ul.menu li a:hover,
ul.menu li a:focus {
    color: var(--active-cl);
    
}
ul.contact-info {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.contact-info li {
    display: inline-block;
    margin-left: 50px;
}
ul.contact-info li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.02em;
  
}
ul.contact-info li a:hover,
ul.contact-info li a:focus  {
    color: var(--active-cl);
}


/*Section promo*/
.promo {
    max-width: 1600px;
    margin: 0 auto 94px;
    height: 600px;
    background-color: var(--main-dark-bg-color);
    color: var(--primary-white-color);
}
.promo h1 {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
}
.promo button {
    padding: 0;
    background-color: var(--active-cl);
    border: 0;
    height: 50px;
    width: 216px;
    border-radius: 4px;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    letter-spacing: normal;
} 
.promo button:active,
.promo button:hover,
.promo button:focus {
    background-color: #188CE8;
}

/*Section features*/
.features {
    margin: 0 auto 94px;
    max-width: var(--section-width);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  } 
.features ul {
    margin: 0 -10px;
    padding: 0;
    list-style: none;
}
.features ul li {
    margin: 0 15px;
}
.features ul li h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: inherit;
    text-transform: uppercase;
    color: var(--secondary-cl);
}
.features ul li p {
    font-size: 14px;
    line-height: 1.7;
}
/*Section portfolio*/
.portfolio {
    margin: 0 auto 94px;
    max-width: var(--section-width);
}
.portfolio h2 {
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: inherit;
    color: var(--secondary-cl);
}
.portfolio ul {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
}
.portfolio ul li {
    margin: 0 15px;
}
/*Section team*/
.team {
    margin: 0 auto;
    padding: 94px 0;
    max-width: 1600px;
    background-color: var(--light-gray-color)
}
.team h2 {
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: inherit;
    color: var(--secondary-cl);
}
.team ul {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
}
.team ul li {
    margin: 0 15px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team ul li h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;    
    text-align: center;
    letter-spacing: inherit;
    color: var(--secondary-cl);
}
.team ul li p {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: inherit;
}
/*Footer*/
footer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 0;
    background-color: var(--main-dark-bg-color);
    color: var(--primary-white-color);
}
.footer-inner {
    max-width: var(--section-width);
    margin: 0 auto;
}
footer .logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: inherit;
    color: var(--active-cl);
    text-decoration: none;
}
footer .logo span {
    color: var(--primary-white-color);
}
footer address ul {
    margin: 0;
    padding: 0;
    list-style: none;
} 
footer address li {
    margin-bottom: 9px;
}
footer address a {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    font-style: normal;
}
footer address a.email,
footer address a.tel {
    color: rgba(255, 255, 255, 0.6);
} 
footer address a:hover,
footer address a:focus {
    color: var(--active-cl);
} 
.projects {
    max-width: var(--section-width);
    margin: 94px auto;
}
.projects .filter {
    margin-bottom: 50px;
    text-align: center;
}
.projects .filter button {
    font-family: inherit;
    margin: 0 4px;
    border: 0;
    height: 38px;
    background: var(--light-gray-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    padding: 0 22px;
    cursor: pointer;
    letter-spacing: inherit;
}
.projects .filter button.active,
.projects .filter button:hover,
.projects .filter button:focus {
    background: var(--active-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--primary-white-color);
}
.projects ul {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
}
.projects ul li {
    padding: 0 24px 20px;
    margin: 0 15px 30px;
}
.projects ul li a {
    text-decoration: none;
    color: inherit;
}
.projects ul li img {
    margin: 0 -24px 20px;
}
.projects ul li h2 {
    margin: 0 0 4px;
    color: var(--secondary-cl);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.projects ul li p {
    margin: 0;
    line-height: 2.14;
}
